.background {
	background: linear-gradient(rgba(255, 255, 255), #00000080), url("https://images.unsplash.com/photo-1646121576173-1fc5392a8783?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDh8Ym84alFLVGFFMFl8fGVufDB8fHx8&auto=format");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	overflow: hidden;
	background-color: #121212;
	padding: 10px 10px;
	border-radius: 4px;
	margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
	.background {
		background: url("https://images.unsplash.com/photo-1646121576173-1fc5392a8783?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDh8Ym84alFLVGFFMFl8fGVufDB8fHx8&auto=format");
		background-attachment: scroll;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}