body, html {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card {
	display: flex;
	position: absolute;
	margin: auto;
	overflow: auto;
	width: 450px;
	max-height: 170px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.card-contents {
	text-align: right;
	flex: 1;
}

.card-links {
	margin-top: 8px;
}

.card-link {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 4px;
}

.card-button {
	border: none;
	background: none;
	user-select: none;
}

.card-link:hover .tooltip {
	visibility: visible;
}

.card-link .tooltip::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.link-img {
	width: 25px;
}

.image {
	margin: 16px;
	border-radius: 50%;
}

.header {
	font-size: 300%;
	height: 30px;
	color: white;
	font-family: 'Roboto Flex Bold', sans-serif;
}

.quote {
	font-size: 100%;
	color: #BEBEBE;
	margin-right: 12px;
	font-family: 'Roboto Flex Thin', sans-serif;
}

.tooltip {
	visibility: hidden;
	position: absolute;
	margin-left: -60px;
	width: 120px;
	bottom: 100%;
	left: 50%;
	padding: 5px 0;
	border-radius: 6px;
	z-index: 1;
	background-color: black;
	color: #fff;
	font-family: 'Roboto Flex', sans-serif;
	text-align: center;
}

@media (max-width: 500px) {
	.card {
		display: block;
		max-height: 450px;
		width: 100%;
	}

	.card-contents {
		text-align: center;
	}

	.image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
}