h1, h2, h3, h4, h5, h6, p, li {
	color: black;
}

@media (prefers-color-scheme: light) {
	h1, h2, h3, h4, h5, h6, p, li {
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
	h1, h2, h3, h4, h5, h6, p, li {
		color: white;
		border-style: none;
	}
}