body, html {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg2.gif");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card {
	animation-name: fade-in;
	animation-duration: 100ms;
	animation-fill-mode: forwards;
	display: flex;
	position: absolute;
	margin: auto;
	overflow: hidden;
	width: 450px;
	max-height: 170px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.card-contents {
	text-align: right;
	flex: 1;
}

.card-links {
	margin-top: 8px;
}

.card-link {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 4px;
}

.card-button {
	border: none;
	background: none;
}

.link-img {
	width: 25px;
}

.image {
	margin: 16px;
	border-radius: 50%;
}

.header {
	font-size: 300%;
	height: 30px;
	color: white;
	font-family: 'Roboto Flex Bold', sans-serif;
}

.quote {
	font-size: 100%;
	color: #BEBEBE;
	margin-right: 12px;
	font-family: 'Roboto Flex Thin', sans-serif;
}

.tippy-content {
	/* Gotta inject tippy.js' tooltip font */
	font-family: 'Roboto Flex', sans-serif !important;
}

@keyframes fade-out {
	from {
		opacity: 100%;
	}

	to {
		opacity: 0%;
	}
}

@keyframes fade-in {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}

@media (max-width: 500px) {
	.card {
		display: block;
		max-height: 350px;
		width: 100%;
	}

	.card-contents {
		text-align: center;
	}

	.image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
	}

	.quote {
		margin-right: 0px;
	}
}

@media (max-height: 350px) {
	.card {
		animation-name: fade-out;
		animation-duration: 100ms;
		animation-fill-mode: forwards;
	}
}